In [7]:
import copy
from shutil import copy2
import cv2
import dlib
import os
import sys
import imutils
import pandas as pd
from os import listdir
from os.path import join, isfile, splitext

In [8]:
#path to the csv that should contain the image labels
CSV_DATABASE = "../data/images_labels.csv"
#path to the csv viewed image name
CSV_VIEWED = "../data/viewed_list.csv"
#path of the images to be labeled
SOURCE_DIRECTORY = "../data/source_images"
#path of the images labeled already
DEST_DIRECTORY = "../data/labeled_images"

COLS_NAME = ['image_name', 'label']
VIEWED_COLS = ['image_name']

detector = dlib.get_frontal_face_detector()

In [50]:
# #TEST SET LABELING

# #path to the csv that should contain the image labels
# CSV_DATABASE = "../data/test_images_labels.csv"
# #path to the csv viewed image name
# CSV_VIEWED = "../data/test_viewed_list.csv"
# #path of the images to be labeled
# SOURCE_DIRECTORY = "../data/test_images"
# #path of the images labeled already
# DEST_DIRECTORY = "../data/labeled_test_images"

# COLS_NAME = ['image_name', 'label']
# VIEWED_COLS = ['image_name']

# detector = dlib.get_frontal_face_detector()

In [52]:
imageFiles = [join(SOURCE_DIRECTORY, f) for f in listdir(SOURCE_DIRECTORY) if isfile(join(SOURCE_DIRECTORY, f))]
num_images = len(imageFiles)
start_index = 0
imageName = 0
image_counter = 0
end_index = num_images
if os.path.isfile(CSV_DATABASE):
    database = pd.read_csv(CSV_DATABASE)
else:
    database = pd.DataFrame(columns = COLS_NAME)
    
if os.path.isfile(CSV_VIEWED):
    viewed_df = pd.read_csv(CSV_VIEWED)
else:
    viewed_df = pd.DataFrame(columns = VIEWED_COLS)
    
for i, _ in enumerate(imageFiles[start_index:end_index]):
    imagefile = imageFiles[i]
    imageName = os.path.basename(imagefile)
    imageType = splitext(os.path.basename(imagefile))[1]
    if not imageName in viewed_df['image_name'].values and (imageType == ".jpg" or imageType == ".png"):
        ori_image = cv2.imread(imagefile)
        try:
            image = imutils.resize(ori_image, width=600)
        except:
            image_counter += 1
            viewed_df = viewed_df.append(pd.DataFrame([imageName], columns = VIEWED_COLS), ignore_index = True, sort = False)
            viewed_df.to_csv(CSV_VIEWED, index=False)
            continue
        gray = cv2.cvtColor(image, cv2.COLOR_BGR2GRAY)
        faces = detector(gray, 1)
        if len(faces) == 1:
            cv2.imshow(imageName ,image)
            k = cv2.waitKey(0)
            if k == 27:         # wait for ESC key to exit
                cv2.destroyAllWindows()
                break
            elif k == ord('s'):
                cv2.destroyAllWindows()
            elif k == ord('1') or k == ord('2') or k == ord('3') or k == ord('4') or k == ord('5'):
                label_input = "1-Clear" if k == ord('1') else "2-Almost Clear" if k == ord('2') else "3-Mild" if k == ord('3') else "4-Moderate" if k == ord('4') else "5-Severe"
                database = database.append(pd.DataFrame([[imageName, label_input]], columns = COLS_NAME), ignore_index = True, sort = False)
                database.to_csv(CSV_DATABASE, index=False)
                print(imageName, 'UPDATE SAVE:', label_input)
                copy2(imagefile, DEST_DIRECTORY)
                cv2.destroyAllWindows()
            else:
                cv2.destroyAllWindows()
        image_counter += 1
        viewed_df = viewed_df.append(pd.DataFrame([imageName], columns = VIEWED_COLS), ignore_index = True, sort = False)
        viewed_df.to_csv(CSV_VIEWED, index=False)
print("processed:", image_counter, "images")

20171226_203858.jpg UPDATE SAVE: 1-Clear
20180727_203313.jpg UPDATE SAVE: 1-Clear
20190530_164944.jpg UPDATE SAVE: 1-Clear
20200108_084050.jpg UPDATE SAVE: 3-Mild
IMG_20170412_185554.jpg UPDATE SAVE: 2-Almost Clear
jongun.jpg UPDATE SAVE: 1-Clear
me1.png UPDATE SAVE: 1-Clear
set1.jpg UPDATE SAVE: 5-Severe
set1_clean.jpg UPDATE SAVE: 1-Clear
set2.jpg UPDATE SAVE: 3-Mild
set2_clean.jpg UPDATE SAVE: 1-Clear
Soyeon Choi.jpg UPDATE SAVE: 1-Clear
soyeon.jpg UPDATE SAVE: 1-Clear
processed: 14 images

In [26]:
imagefile

'../data/source_images\\acne+face_103.jpg'

### ["0-Not Acne", "1-Clear", "2-Almost Clear", "3-Mild", "4-Moderate", "5-Severe"]

In [8]:
splitext(os.path.basename("images_labels.csv"))

('images_labels', '.csv')

In [34]:
dd = pd.DataFrame({'image_name': ['3','222222'], 'label': [2,5]})
2 in dd['image_name'].values

False

In [35]:
dd.to_csv('test.csv')

In [37]:
ord('1')

49

In [42]:
copy2('model.py', './acne')

'./acne\\model.py'

In [45]:
chr(50)

'2'

In [50]:
dd = pd.DataFrame([[1,2]], columns = COLS_NAME)

In [54]:
dd=dd.append(dd, ignore_index = True)

In [56]:
dd.append(dd)

   image_name  label
0           1      2
0           1      2
0           1      2
0           1      2

In [57]:
dd

   image_name  label
0           1      2
0           1      2

In [77]:
pd.DataFrame([imageName], columns = VIEWED_COLS)

                               image_name
0  924321_262269320619878_588452004_a.jpg

In [84]:
pd.read_csv(CSV_VIEWED)

   Unnamed: 0                              image_name
0           0  00a454da495e11e28a7322000a1fa414_6.jpg
1           1  00cddb96ac4c11e3a30212279ba1b65f_6.jpg
2           2  01cdd7aa1a1a11e2aaa822000a1fb0dd_6.jpg
3           3  024696bead0c11e389d50ec42b3b1b1c_6.jpg